.section-header {
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-title {
  padding-right:  1rem;
}

.section-hr-container {
  height: 2rem;
  width: 100%;
  overflow: hidden;
}

.section-hr {
  /* background-color: black; */
  background-image: url('/border3.png');
  height: 1.5rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}